examples
node_modules
test
.eslintrc.js
.eslintignore
.browserslistrc
.gitignore
.prettierrc.json
babel.config.json
tsconfig.json

#build tools
build

# vscode config
.vscode

#definition
src
types

# 自动生成版权声明
license.js
